.load path {
  transform-origin:20px,30px;
  animation: load 1.3s linear 0s normal infinite;
}
.image{
  background:#bbb;
}
@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}